extends layout

block content
  h2= "Enter your name and click next to begin"
  form(method='POST' action='/login')
      label(for='name' class='label') Name:
      input(
        type='text',
        placeholder='Firstname',
        name='name'
      )
      button(
        type='submit',
        name='next'
      ) Next
